<!DOCTYPE html>
<html>
  <head>
     <title>ht_tr</title>
    
  </head>

<body>

<% if(value==1){%>
<script>
    
  
        window.location.href='/congrats_offline_book'
  
</script>
<%}%>
</body>

</html>