<%-include('header')-%>



<section>
  
 
      <div>
        <img src="crop.jpg" class="d-block w-100" alt="..." style='height: 50%;'>
      
      </div>
      
    
</section>
</br></br>


<section>
  
<center>
<video width="80%" height="200px" controls autoplay style='background-color:black;'>
  <source src="video.mp4" type="video/mp4">
 
</video>
</center>

</section>


<section class="container">
  <div   class='feature1'>BEST FEATURE OF VIVEKO<hr width="50%"></div>
   <div class="container">
     <div class="row">
       <div class='col-lg-3' style="text-align:center;">
         <img src="pic1.svg"></br></br>
         <div style="font-family:timesRoman">HIGHLY TRUSTED </div>
         <p>More no of customers are interested in booking at this Hotel</p>
       </div>

       <div class='col-lg-3' style="text-align:center;">
         <img src="pic2.svg"></br></br>
         <div style="font-family:timesRoman">DELIVERY WITHIN TIME</div>
         <p>More no of customers reviews that services are of best quality and very timely</p>

       </div>

       <div class='col-lg-3' style="text-align:center;">
         <img src="pic3.svg"></br></br>
         <div style="font-family:timesRoman">ACCESS FROM ANYWHERE</div>
         <p>More no of customers reveals that environment are neat and clean</p>
       </div>

       <div class='col-lg-3' style="text-align:center;">
          <img src="pic4.svg"></br></br>
         <div style="font-family:timesRoman">HIGHLY RATED</div>
         <p>Rating of this hotel is best among the other hotels present in locality</p>
       </div>

     </div>
   </div>
</section>
</br></br>















<section style='background-color: rgb(255, 255, 204);'>
  <div class='feature2'>AWARDS & WORLD WIDE RECOGNITION<hr width="50%"></div>
  <div class='row' style='text-align: center;'>
    <div class='col-lg-4'>
      <img src='feature5.png' >
    </div>

    <div class='col-lg-4'>
       <img src='feature6.png' >
    </div>

    <div class='col-lg-4'>
       <img src='feature4.png' >
    </div>
  </div>
</section>














<section style='margin-top:20px;'>
  <div class='feature3'>USER DATA ACROSS CITIES<hr width="50%"></div>
  <div class='container'>
   <div class='row'>
      <div class='col-lg-4'>
        <center> 
          <div class='head-data'>Customer</div>
          <div class='data'>20 Million+</div></br>
          <div style='font-family: Courier New'>Number of customer those who are enjoying viveko online ordering has crossed 20 M</div>
        </center>  
      </div>

      <div class='col-lg-4'>
        <center> 
          <div class='head-data'>SUPPLIERS</div>
          <div class='data'>13000 +</div>
           <div style='font-family: Courier New'>Number of supplier those who are supplying food has crossed 13000 in number</div>
        </center> 
      </div>

      <div class='col-lg-4'>
        <center> 
          <div class='head-data'>OPERATORS</div>
          <div class='data'>5000 +</div>
          <div style='font-family: Courier New'>Number of operators those who are networking all the management crossed 5000 in number</div>
        </center> 
      </div>
   </div>
 </div>
</section>
















<section style="background-color: rgb(255, 255, 204);padding:2% 10%;">
  
  <div id="stories_from_guest" style="text-align:center;font-family:coiny;"><h4> Reviews From Our Customers</h4></div></br>
   <div id="testimonial-carousel" class="carousel slide" data-ride="false" data>
          <div class="carousel-inner">
             <div class="carousel-item active">
                  
                 <center>
                 <h6 style="color:gray;">It is great exprerience to enjoy the chicken biryani of Restaurant Kaveri of Jamshedpur.The first class of food was giving me the sense of home made and I wish I would get it later.</h6>
                 <img class="guest1-image" src="admin3.jpg" alt="dog-profile" style="width:30%;height:200px;border-radius:50%;"></center>
                 
             </div>


              <div class="carousel-item ">
                 <center>
                 <h6 style="color:gray;">It is great exprerience to enjoy the chicken biryani of Restaurant Kaveri of Jamshedpur.The first class of food was giving me the sense of home made and I wish I would get it later.</h6>
                 <img class="guest1-image" src="admin2.jpg" alt="dog-profile" style="width:30%;height:200px;border-radius:50%;"></center>
             </div>
        </div>

             <a  class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                 <span s class="carousel-control-prev-icon" aria-hidden="true"></span>
         
             </a>

            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="  next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
   </div>
</section>


<%- include('footer')-%>
</body>
</html>