<section style="background-color: black;">
      <div class="row" style="margin-left: 30px;margin-top:0px;color:white">
        <div class="col-lg-4" style="margin-top: 30px;">
             <div class="row">
                <div class="col-lg-3" style="padding: 0% 12%;">
                   <img src='tech.jpg' style="height: 100px;width: 100px;border-radius: 50%">
                </div>
                <div class="col-lg-9"  style="margin-top:20px;padding: 0% 12%">
                  <p>Enjoy and leave rest to us</p>
                  <button type="submit" class="btn btn-outline-success">About Us</button>
                </div>
                
             </div>
             

        </div>

        <div class='col-lg-4' style="margin-top: 30px;">
           <div>
             <p>Links to social media</p>
             <div >
                <a href="#" class="fa fa-facebook" style="border-radius: 50%; padding: 10px;font-size: 20px;width: 40px;text-align: center;text-decoration: none;margin: 5px 2px; background: #3B5998;color: white;"></a>

                <a href="#" class="fa fa-twitter" style="border-radius: 50%; padding: 10px;font-size: 20px;width: 40px;text-align: center;text-decoration: none;margin: 5px 2px; background: #55ACEE;;color: white;"></a>

                <a href="#" class="fa fa-linkedin" style="border-radius: 50%; padding: 10px;font-size: 20px;width: 40px;text-align: center;text-decoration: none;margin: 5px 2px; background:  #007bb5;color: white;"></a>

                <a href="#" class="fa fa-youtube"style="border-radius: 50%; padding: 10px;font-size: 20px;width: 40px;text-align: center;text-decoration: none;margin: 5px 2px; background: #55ACEE;;color: white;"></a>
               
             </div>
             
           </div>

        </div>


        <div class='col-lg-4' style="margin-top: 30px;">
           <div>Stay connected with us</br>
         Get updates about our daily menu and prices </br></div>
           <form class="form-sign-in" method="post" action='/dailynews'>
             <input type="email" class="input-field" style="outline: none;">
             <button type="submit" class="btn btn-outline-primary">signup</button>
           </form>
        </div>

      </div>

   </section>