<%-include('header')-%>



<section style='margin-top: 30px;'>
<div class='row '>
   <div class='col-lg-8' style="margin-left:50px">
       <center><div  class="jamshedpur-head2 head" style='padding:10px 20px;font-family:Courier New;font-weight:bold;'>Top Restaurant Of Patna</div><hr><center>
  </div>


</div>
</section>







<section style="">
   <div class='container jamshedpur-head' >
    
      <div class='row'>
        <div class='col-lg-9'>
            <div class='row jamshedpur-head-row' style='padding:20px 20px'>
              <div class='col-lg-4'>
                <center><img src="ptn1.jpg" class='img-fluid'></center>
              </div>

              <div class='col-lg-6'>
                <div class='rest_name'><h3>SPICE CORT RESTAURANT</h3></div>
                <div class='rest_data'>
                  <div ><span style='font-weight: bold;'>Rating</span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div> 

                  <div>
                    <span style='font-weight: bold;'>Opening Time:-</span>10:00 AM
                  </div>
                  <div>
                    <span style='font-weight: bold;'>Closing Time:-</span>11:00 pM
                  </div></br>
                  <div>
                    <button  class='btn btn-success' style='border-radius: 20px;padding:10px 20px;'
                    data-toggle="modal" data-target="#myModal1">See items</button>
                    <button  class='btn btn-primary' style='margin-left: 20px;border-radius: 20px;padding:10px 20px;'>Submit Review</button>
                  </div>

                </div>
              </div>

            </div>

            <div class='row jamshedpur-head-row' style='padding:20px 20px'>
              <div class='col-lg-4'>
                <center><img src="ptn2.jpg" class='img-fluid'></center>
              </div>

              <div class='col-lg-6'>
                <div class='rest_name'><h3>SILK ROUTE RESTAURANT</h3></div>
                <div class='rest_data'>
                  <div ><span style='font-weight: bold;'>Rating</span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div> 

                  <div>
                    <span style='font-weight: bold;'>Opening Time:-</span>10:00 AM
                  </div>
                  <div>
                    <span style='font-weight: bold;'>Closing Time:-</span>11:00 pM
                  </div></br>
                  <div>
                    <button  class='btn btn-success' style='border-radius: 20px;padding:10px 20px;'
                    data-toggle="modal" data-target="#myModal2">See items</button>
                    <button  class='btn btn-primary' style='margin-left: 20px;border-radius: 20px;padding:10px 20px;'>Submit Review</button>
                  </div>

                </div>
              </div>

            </div>


            <div class='row jamshedpur-head-row' style='padding:20px 20px;'>
              <div class='col-lg-4'>
                <center><img src="ptn3.jpg" class='img-fluid'></center>
              </div>

              <div class='col-lg-6'>
                <div class='rest_name'><h3>PUKHTAAN RESTAURANT </h3></div>
                <div class='rest_data'>
                  <div ><span style='font-weight: bold;'>Rating</span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div> 

                  <div>
                    <span style='font-weight: bold;'>Opening Time:-</span>10:00 AM
                  </div>
                  <div>
                    <span style='font-weight: bold;'>Closing Time:-</span>11:00 pM
                  </div></br>
                  <div>
                    <button  class='btn btn-success' style='border-radius: 20px;padding:10px 20px;'
                    data-toggle="modal" data-target="#myModal3">See items</button>
                    <button  class='btn btn-primary' style='margin-left: 20px;border-radius: 20px;padding:10px 20px;'>Submit Review</button>
                  </div>

                </div>
              </div>

            </div>



            <div class='row jamshedpur-head-row' style='padding:20px 20px;'>
              <div class='col-lg-4'>
                <center><img src="ptn4.jpg" class='img-fluid'></center>
              </div>

              <div class='col-lg-6'>
                <div class='rest_name'><h3> TAKSHILLA RESTAURANT</h3></div>
                <div class='rest_data'>
                  <div ><span style='font-weight: bold;'>Rating</span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div> 

                  <div>
                    <span style='font-weight: bold;'>Opening Time:-</span>10:00 AM
                  </div>
                  <div>
                    <span style='font-weight: bold;'>Closing Time:-</span>11:00 pM
                  </div></br>
                  <div>
                    <button  class='btn btn-success' style='border-radius: 20px;padding:10px 20px;'
                    data-toggle="modal" data-target="#myModal4">See items</button>
                    <button  class='btn btn-primary' style='margin-left: 20px;border-radius: 20px;padding:10px 20px;'>Submit Review</button>
                  </div>

                </div>
              </div>

            </div>


        </div>

        <div class='col-lg-3 shadow' style='background-color:gb(236, 236, 249);margin-top: 25px;'>
          <div class='search_by_category'>QUICK ORDER SPECIAL CATEGORIES</div><hr>
          <div class='items'>
             <div style='text-align: center'>
               <img src='i1.webp'>
               <a href="#" style='font-weight: bold;'  data-toggle="modal" data-target="#myModal5">Vines</a>
             </div></br>

             <div style='text-align: center'>
               <img src='i2.webp'>
                <a href="#" style='font-weight: bold;'  data-toggle="modal" data-target="#myModal5">Fruits</a>
             </div></br>

             <div style='text-align: center'>
               <img src='i3.webp'>
                <a href="#" style='font-weight: bold;'  data-toggle="modal" data-target="#myModal5">Snacks</a>
             </div></br>

             <div style='text-align: center'>
               <img src='i4.webp'>
                <a href="#" style='font-weight: bold;'  data-toggle="modal" data-target="#myModal5">ColdDrinks</a>
             </div></br>


          </div>
            
          

        </div>

      </div>
   </div>
</section>












<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">SPICE CORT RESTAURANT</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            
               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish1.jpg' style='width: 300px;height: 200px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                     <p style='font-weight: bold'>Chicken kdahi</p>
                     <h5 id='price'>Price:-80Rs/Plate</h5>
                   <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna spice_cort_Restaurant 80 chicken_Kdahi' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>

               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish2.jpg' style='width: 300px;height: 200px;'>
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Morning Breakfast</p>
                     <h5 id='price'>Price:-60Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna spice_cort_Restaurant 60 morning_Breakfast' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>

               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish3.jpg' style='width: 300px;height: 200px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Burger</p>
                     <h5 id='price'>Price:-30Rs/Piece</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna spice_cort_Restaurant 30 Burger' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>
              


              <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish4.jpg' style='width: 300px;height: 200px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Noodles</p>
                     <h5 id='price'>Price:-70Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna spice_cort_Restaurant 70 Noodles' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish5.png' style='width: 300px;height: 200px;'>
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Mix Rice Chicken</p>
                     <h5 id='price'>Price:-60Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna spice_cort_Restaurant 60 Mix_Rice_Chicken' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish6.jpg' style='width: 300px;height: 200px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Rayta</p>
                     <h5 id='price'>Price:-30Rs/Plate</h5>
                   <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna spice_cort_Restaurant 30 Rayta' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish7.jpg' style='width: 300px;height: 200px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Curd</p>
                     <h5 id='price'>Price:-40Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna spice_cort_Restaurant 40 Curd' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>
            
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
















<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">SILK ROUTE RESTAURANT</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
         <div class="modal-body">
            
               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish1.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                     <p style='font-weight: bold'>Chicken kdahi</p>
                     <h5 id='price'>Price:-80Rs/Plate</h5>
                   <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna silk_route_Restaurant 80 chicken_Kdahi' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>

               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish2.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Morning Breakfast</p>
                     <h5 id='price'>Price:-60Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna silk_route_Restaurant 60 morning_Breakfast' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>

               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish3.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Burger</p>
                     <h5 id='price'>Price:-30Rs/Piece</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna silk_route_Restaurant 30 Burger' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>
              


              <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish4.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Noodles</p>
                     <h5 id='price'>Price:-70Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna silk_route_Restaurant 70 Noodles' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish5.png' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Mix Rice Chicken</p>
                     <h5 id='price'>Price:-60Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna silk_route_Restaurant 60 Mix_Rice_Chicken' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish6.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Rayta</p>
                     <h5 id='price'>Price:-30Rs/Plate</h5>
                   <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna silk_route_Restaurant 30 Rayta' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish7.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Curd</p>
                     <h5 id='price'>Price:-40Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna silk_route_Restaurant 40  Curd' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>
            
        </div>
        
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>














<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal3">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">PUKHTAN RESTAURANT</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            
               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish1.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                     <p style='font-weight: bold'>Chicken kdahi</p>
                     <h5 id='price'>Price:-80Rs/Plate</h5>
                   <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna pukhtan_Restaurant 80 chicken_Kdahi' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>

               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish2.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Morning Breakfast</p>
                     <h5 id='price'>Price:-60Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna pukhtan_Restaurant 60 morning_Breakfast' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>

               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish3.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Burger</p>
                     <h5 id='price'>Price:-30Rs/Piece</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna pukhtan_Restaurant 30 Burger' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>
              


              <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish4.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Noodles</p>
                     <h5 id='price'>Price:-70Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna pukhtan_Restaurant 70 Noodles' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish5.png' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Mix Rice Chicken</p>
                     <h5 id='price'>Price:-60Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna pukhtan_Restaurant 60 Mix_Rice_Chicken' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish6.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Rayta</p>
                     <h5 id='price'>Price:-30Rs/Plate</h5>
                   <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna pukhtan_Restaurant 30 Rayta' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish7.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Curd</p>
                     <h5 id='price'>Price:-40Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna pukhtan_Restaurant 40  Curd' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>
            
        </div>
        
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>









<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal4">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">TAKSHILA RESTAURANT</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
         <div class="modal-body">
            
               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish1.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                     <p style='font-weight: bold'>Chicken kdahi</p>
                     <h5 id='price'>Price:-80Rs/Plate</h5>
                   <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna takshila_Restaurant 80 chicken_Kdahi' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>

               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish2.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Morning Breakfast</p>
                     <h5 id='price'>Price:-60Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna takshila_Restaurant 60 morning_Breakfast' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>

               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish3.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Burger</p>
                     <h5 id='price'>Price:-30Rs/Piece</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna takshila_Restaurant 30 Burger' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>
              


              <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish4.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Noodles</p>
                     <h5 id='price'>Price:-70Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna takshila_Restaurant 70 Noodles' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish5.png' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Mix Rice Chicken</p>
                     <h5 id='price'>Price:-60Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna takshila_Restaurant 60 Mix_Rice_Chicken' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish6.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Rayta</p>
                     <h5 id='price'>Price:-30Rs/Plate</h5>
                   <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna takshila_Restaurant 30 Rayta' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>


               <div class='row' style='text-align: center;'>
                  <div class='col-lg-4'>
                    <img src='dish7.jpg' style='width: 100px;height: 100px;' >
                  </div>
                  <div class='col-lg-8' style='margin-top: 10px;'>
                    <p style='font-weight: bold'>Curd</p>
                     <h5 id='price'>Price:-40Rs/Plate</h5>
                    <form action='/booknow' method='post'>
                      <button class='btn btn-success' name='button' value='patna takshila_Restaurant 40  Curd' >Order_Now</button>
                  </form>
                     
                  </div>
                 
               
               </div></br>
            
        </div>
        
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>





















<div class="modal fade" id="myModal5" style='margin-top:40px;'>
    <div class="modal-dialog" style='width:700px;margin-top:40px;' >
      <div class="modal-content " style='width:700px;margin-top:40px;'>
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style='font-family:Courier New;font-style: italic ;font-weight: bold;color:red;'>BOOK SPECIFIC ITEMS</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
           <form class='form-signin'>
              <input type="text" class='form-control' placeholder="enter your name" name="fullname" id="fullname" required autofocus></br>
              <input type="number" class='form-control' placeholder="enter your contact" name="contact" id="contact" required autofocus></br>
              <input type="text" class='form-control' placeholder="enter your address" name="address" id="address" required autofocus></br>
               <select class='form-control' id="select_menu" name="select_menu" required autofocus  style="width: 60%;" >
                 <option value="varanasi">VINES</option>
                 <option value="patna">FRUITS</option>
                 <option value="ranchi">COLDDRINKS</option>
                 <option value="jamshedpur">SNACKS</option>
              </select></br>
             <input name="specific" id="specific" type='text' class='form-control' placeholder="specify the category choosen i.e coldrink--sprit"></br>

             <input type='text' name="quantity" id="quantity" class='form-control' placeholder="specify the category choosen i.e coldrink--sprit"></br>
             <button type='submit' name='button2' value='jamshedpur' class='btn btn-primary' style='border-radius: 20px;'>Book Now</button>
           </form>
        </div>
        
        <!-- Modal footer -->
        
        
      </div>
    </div>
  </div>
  
</div>

</section>


<%- include('footer')-%>
</body>
</html>