<!DOCTYPE html>
<html>
<head>
  <style>

    body
    {
      background-position: center center;
            background-repeat: no-repeat;
            background-image: url('b1.jpg');
            background-size: cover;
    }
   .sec{
            content: '';
          
            width: 100vw;
            height: 170vh;
            
            background-position: center center;
            background-repeat: no-repeat;
            
            background-size: cover;
            
        }


        .sec2{
            content: '';
          
            width: 100vw;
            height: 270vh;
            
            background-position: center center;
            background-repeat: no-repeat;
            
            background-size: cover;
            
        }


        .avatar {
           
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-top: -20px;
            margin-left: 37%;
        }

  .contact-form2
        {
          
            top: 80%;
            left: 50%;
            width: 400px;
            height: 750px;
            padding: 80px 40px;
            box-sizing: border-box;
            background: rgba(0,0,0,.5);
        }

 .contact-form
        {
          
            top: 80%;
            left: 50%;
            width: 400px;
            height: 500px;
            padding: 80px 40px;
            box-sizing: border-box;
            background: rgba(0,0,0,.5);
        }
    .contact-form h2 {
            margin: 0;
            padding: 0 0 20px;
            color: black;
            text-align: center;
           
        }
        .contact-form p
        {
            margin: 0;
            padding: 0;
            font-weight: bold;
            color: #fff;
        }
.contact-form input
        {
            width: 100%;
            margin-bottom: 20px;
        }
 .contact-form input[type="email"],
 .contact-form input[type="text"],
  .contact-form input[type="password"]
        {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }       

         .contact-form input[type="submit"] {
            height: 30px;
            color: #fff;
            font-size: 15px;
            background: red;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            outline: none;
            margin-top: 15%;
        }



        .contact-form a
        {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
        }










.contact-form2 h2 {
            margin: 0;
            padding: 0 0 20px;
            color: black;
            text-align: center;
           
        }
        .contact-form2 p
        {
            margin: 0;
            padding: 0;
            font-weight: bold;
            color: #fff;
        }
.contact-form2 input
        {
            width: 100%;
            margin-bottom: 20px;
        }
 .contact-form2 input[type="email"],
 .contact-form2 input[type="text"],
  .contact-form2 input[type="password"]
        {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }       

         .contact-form2 input[type="submit"] {
            height: 30px;
            color: #fff;
            font-size: 15px;
            background: red;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            outline: none;
            margin-top: 15%;
        }



        .contact-form2 a
        {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
        }

   </style>


  <title>ORDER_FOOD</title>
  <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Googlefont-->
   <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
     <!--font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
   

   

</head>

<body>


<section style="margin-top: 20px;color:white;">
   <center>
       <img src="logo.webp" style="height: 100px;width: 100px;border-radius: 50%">
       <div style="font-weight: bold;font-family: Courier New"><h4>VIVEKO ORDER FOOD ONLINE</h4></div>
        <div style="font-weight: bold;">Establishment:2019</div>
   </center>
</section>


<section class="sec" style="margin-top:50px;">

<div class="container">
  <div class='row'>
    <div class=col-lg-12>
       <div class="container" id='sec'>
        <div class="contact-form" style="margin:0 auto;">
        <img src="adcart.jpg" class="avatar">
        <h2 style="margin-top:10px;font-family:coiny;color:white;">Login Form</h2>
        <form style="margin-top:40px;" >
            <p>Email</p>
            <input type="email" name="email" placeholder="Enter Email" id="email1">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" id="password1">
            <input type="submit" name="button" value="Sign In" id="submit10">

            
            
        </form>
        </div>

      </div>
   </div>

  </div>
</div>
</section>





<script>
   //document.getElementById('sec2').style.display='none';

    $(document).ready(function(){
    var email,pass;
    $("#submit10").click(function(){
        email=$("#email1").val();
         pass=$("#password1").val();
        
        /*
        * Perform some validation here.
        */
        
        if(email===""||pass==="")
        {
          alert('some fields are empty');
          return false;
        }

        $.post("/superadminlogin",{email:email,password:pass},function(data){
            if(data==='done') {
              window.location.href="/superadminwork";
            }
            else if(data==='sorry')
            {
              alert('wrong email or wrong password');
              return false;
            }
            
        });
    });
});
 



  </script>
</body>


</html>